<div class="container">
    <div  class="user-details">
    <div class="title"> Registro de Servicio </div>
    <div class="input-box">
        <span class="details">
            Producto Seleccionado
        </span>
        <select>
            <option value="opcion1">Opción 1</option>
            <option value="opcion2">Opción 2</option>
            <option value="opcion3">Opción 3</option>
          </select>
        </div>
    </div>
    
    <form action="#">
        <div class="user-details">
            <div class="input-box">
                <span class="details">
                    Cedula
                </span>
                <input type="text" placeholder ="Digite la cedula" required>
            </div>
            <div class="input-box">
                <span class="details">
                    Nombre 
                </span>
                <input type="text" placeholder ="Digite el nombre" required>
            </div>
            <div class="input-box">
                <span class="details">
                    Descripcion del Servicio
                </span>
                <input type="text" placeholder ="Digite la descripcion" required>
            </div>
            <div class="input-box">
                <span class="details">
                    Precio del producto
                </span>
                <input type="text" placeholder ="Escriba el precio" required>
            </div>
            <div class="input-box">
                <span class="details">
                    Categoria del producto
                </span>
                <input type="text" placeholder ="Escriba la categoria" required>
            </div>
            <div class="input-box">
                <span class="details">
                    Metodo de Pago
                </span>
                <input type="text" placeholder ="Seleccione MetodoPago" required>
            </div>   
        </div>
    </form>
    <div class="button">
        <input type="submit" class="btt" value="Registrar">
    </div>
</div>