body {
  display: flex;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  background: white;
}

.container {
  margin-top: 20px;
  width: 100%;
  min-width: 850px;
  background: white;
  padding: 15px;
  border-radius: 5px;
  box-shadow: 7px 13px 20px #7bc4c4;
}

.container .title {
  font-size: 20px;
  font-weight: 500;
  position: relative;
  font-weight: bold;
  margin-bottom: 10px;
}

.container .title::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 50%;
  box-shadow: 7px 13px 20px #7bc4c4;
}

.btt {
  height: 35px;
  width: 90px;
  outline: none;
  color: #fff;
  border: none;
  font-size: 14px;
  letter-spacing: 1px;
  border-radius: 5px;
  background: #7bc4c4;
}

.btt:hover {
  background: #98c9c9;
}

.content-table {
  border-collapse: collapse;
  font-size: 0.9em;
  width: 100%;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
}

.content-table thead tr {
  background-color: #7bc4c4;
  color: #ffffff;
  text-align: left;
  font-weight: bold;
}

.content-table th,
.content-table td {
  padding: 10px 15px;
  text-align: center;
}

.content-table tbody tr {
  border-bottom: 1px solid #dddddd;
  color: black;
}

.content-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.content-table tbody tr:last-of-type {
  border-bottom: 2px solid #7bc4c4;
}

.content-table tbody tr.active-row {
  font-weight: bold;
  color: #7bc4c4;
}

.table {
  margin-top: 20px;
}

.filtro {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.filtro .input-box {
  margin-bottom: 10px;
  flex: 1;
}

.filtro .button {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

select {
  width: 100%;
  max-width: 250px;
  height: 35px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #fff;
  color: #333;
  border-color: #75bdbd;
}

select:focus {
  outline: none;
  border-color: #007bff;
}

select option {
  background-color: #fff;
  color: #333;
}

select option:hover {
  background-color: #f0f0f0;
}

.container form .user-details {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 10px 0 12px 0;
}

form .user-details .input-box {
  margin-bottom: 10px;
  width: 100%;
  max-width: 400px;
}

.user-details .input-box .details {
  display: block;
  font-weight: 100;
  margin-bottom: 5px;
}

.user-details .input-box input {
  height: 35px;
  width: 100%;
  max-width: 250px;
  outline: none;
  border-radius: 5px;
  border: 1px solid #75bdbd;
  padding-left: 15px;
  font-size: 14px;
}

/* Estilos para dispositivos móviles */
@media (max-width: 600px) {
  /* Contenedor principal */
  .container {
    padding: 10px;
  }

  /* Tabla */
  .content-table {
    font-size: 0.85em;
  }

  /* Ajuste de ancho para el contenido de la tabla */
  .content-table th,
  .content-table td {
    padding: 5px 10px;
  }

  /* Fila impares con un fondo ligeramente diferente */
  .content-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
  }

  /* Ajuste de ancho para la selección */
  select {
    max-width: 100%;
  }

  .filtro .button {
    text-align: center; /* Centrar el botón */
    width: 100%; /* Utilizar todo el ancho disponible */
  }
}