<section class="login-for">
    <div class="container">
        <form class="form-estilo">
            <div class="row">
                <div class="col-md-12">
                    <div class="texto">
                        <h2>INICIAR SESIÓN</h2>
                    </div>
                    <div class="formulario">
                        <div class="row">
                            <div class="col-6">
                                <div class="form-floating input-text">
                                    <input type="email" class="form-control texto-for label-for" id="correo" name="correo" placeholder="Correo: Ej: usuario@correo.com" />
                                    <label for="correo" class="label-for">Correo</label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <div class="form-floating input-text">
                                    <input type="password" class="form-control texto-for label-for" id="password" placeholder="Escriba su contraseña" name="password" />
                                    <label for="password" class="label-for">Contraseña</label>
                                </div>
                            </div>
                        </div>
                        <div class="row ubica-boton">
                            <div class="col">
                                <button type="submit" class="boton-login">Iniciar sesión</button>
                            </div>
                            <div class="col">
                                <button type="submit" class="boton-login">Cerrar sesión</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</section>