h4 {
    margin-bottom: 15px;
    text-align: center;
    color: rgb(2, 2, 2);
}

.container {
    margin-top: 45px;
    margin-bottom: 45px;

}


.Formulario{
    height: 300px;
    width: 480px;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 7px 13px 37px #87b92a;;

}

.table {
    width: 500px;
    background: rgb(210, 216, 210);
    border-radius: 10px 10px 10px 10px;
}

.form-control {
    margin: auto;
    margin-bottom: 12px;
    width: 400px;
}

button {
    width: 400px;
    margin-top: 8px;
    margin-bottom: 30px;
    margin-left: 39px;
    background: #87b92a;
    border-color: #87b92a;
}

.text{
    margin-left: 42px;
}

img{
    border-radius: 18px;
}