
    <table class="container">
        <tr>
            <td>    
                    <section class="Formulario">
                        <h6>ㅤ</h6>
                        <h4>INICIAR SESIÓN </h4>
                        <h6 class="text" >Correo electrónico</h6>
                        <input class="form-control" type="text"  aria-label="default input example" id="nombre">
                        <h6 class="text">Contraseña</h6>
                        <input class="form-control" type="text"  aria-label="default input example" id="apellido">
                        <button type="button" class="btn btn-success" id="btn">INICIAR SESION</button>
                    </section>
            </td>
            <td>
                <img src="/assets/img/loginn.png" width="100%" height="100%" alt="Loginn imagen">

            </td>
        </tr>
    </table>
