<div class="container">
    <div class="title"> Registro de producto </div>
    <form action="#" #adminForm="ngForm"
    (submit)="registrarProducto(adminForm)">
        <div class="user-details">
            <div class="input-box">
                <span class="details">
                    Codigo del producto
                </span>
                <input type="text" placeholder ="Digite el código" [(ngModel)]="producto.codigo" name="codigo" required>
            </div>
            <div class="input-box">
                <span class="details">
                    Nombre del producto
                </span>
                <input type="text" placeholder ="Escriba el nombre" [(ngModel)]="producto.nombre" name="nombre" required>
            </div>
            <div class="input-box">
                <span class="details">
                    Descripcion del producto
                </span>
                <input type="text" placeholder ="Escriba la descripción" [(ngModel)]="producto.descripcion" name="descripcion" required>
            </div>
            <div class="input-box">
                <span class="details">
                    Precio del producto
                </span>
                <input type="number" placeholder ="Escriba el precio" [(ngModel)]="producto.precio" name="precio" required>
            </div>
            <div class="input-box">
                <span class="details">
                    Categoria del producto
                </span>
                <input type="text" placeholder ="Escriba la categoria" [(ngModel)]="producto.categoria" name="categoria" required>
            </div>
            <div class="input-box">
                <span class="details">
                    Referencia del producto
                </span>
                <input type="text" placeholder ="Escriba la referencia" [(ngModel)]="producto.referencia" name="referencia" required>
            </div>
            <div class="filed">
                <span class="details">
                    Imagen del producto
                </span>
                <input type="file" placeholder ="Cargue la imagen" required>
            </div>
            <div class="input-box">
                <span class="details">
                    Tela del producto
                </span>
                <input type="text" placeholder ="Escriba el tipo de tela" [(ngModel)]="producto.tela" name="tela" required>
            </div>
            <div class="input-box">
                <span class="details">
                    Talla del producto
                </span>
                <input type="text" placeholder ="Escriba la talla" [(ngModel)]="producto.talla" name="talla" required>
            </div>
            <div class="input-box">
                <span class="details">
                    Medida del producto
                </span>
                <input type="text" placeholder ="Escriba la medida" [(ngModel)]="producto.medida" name="medida" required>
            </div>
            <div class="input-box">
                <span class="details">
                    Diseños
                </span>
                <input type="text" placeholder ="Describa el diseño" [(ngModel)]="producto.disenio" name="disenio" required>
            </div>
            <div class="button">
                <input type="submit" value="Registrar">
            </div>
        </div>
    </form>
</div>