<div class="container">
    <div class="user-details">
      <div class="title"> Consultar Servicio </div>
      <div class="filtro">
        <div class="input-box">
          <select [(ngModel)]="tipoServicio">
            <option value="CorteVinillo">Corte Vinillo</option>
            <option value="TejidoIndustrial">Tejido Industrial</option>
            <option value="SublimacionTextil">Sublimacion Textil</option>
            <option value="Estampado">Estampado</option>
            <option value="Confeccion">Confeccion</option>
            <option value="Corte">Corte</option>
          </select>
        </div>
        <div class="button">
          <input type="button" class="btt" (click)="agregarRegistros()" value="Visualizar">
        </div>
      </div>

      <table class="content-table" id="table">
        <thead>
          <tr>
            <th scope="col"> Imagen</th>
            <th scope="col" *ngIf="tipoServicio === 'CorteVinillo' || tipoServicio === 'TejidoIndustrial'
            || tipoServicio === 'SublimacionTextil' || tipoServicio === 'Estampado' || tipoServicio === 'Confeccion' || tipoServicio === 'Corte'">Nombre</th>
            <th scope="col" *ngIf="tipoServicio === 'CorteVinillo' || tipoServicio === 'TejidoIndustrial'
             || tipoServicio === 'SublimacionTextil' || tipoServicio === 'Estampado' || tipoServicio === 'Confeccion' || tipoServicio === 'Corte'">Descripcion</th>
            <th scope="col" *ngIf="tipoServicio === 'CorteVinillo' || tipoServicio === 'TejidoIndustrial'">Texto</th>
            <th scope="col" *ngIf="tipoServicio === 'CorteVinillo' || tipoServicio === 'TejidoIndustrial'">Color</th>
            <th scope="col" *ngIf="tipoServicio === 'CorteVinillo'">Tamaño</th>
            <!-- <th scope="col" *ngIf="tipoServicio === 'Confeccion'">Adjuntas</th> -->
            <th scope="col" *ngIf="tipoServicio === 'Confeccion' || tipoServicio === 'Corte'">Tipo Tela</th>
            <th scope="col" *ngIf="tipoServicio === 'Confeccion' || tipoServicio === 'Corte'">Cantidad</th>
            <th scope="col" *ngIf="tipoServicio === 'Confeccion' || tipoServicio === 'Corte'">PiezaCortar</th>
            <th scope="col">WhatsApp</th>
            <th scope="col">Estado</th>
            <th scope="col">Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let servicio of servicios; let i = index">
            <td><img src="{{ servicio.imagen }}" alt="imagen del servicio" class="imagen-v"></td>
            <td *ngIf="tipoServicio === 'CorteVinillo' || tipoServicio === 'TejidoIndustrial'
            || tipoServicio === 'SublimacionTextil' || tipoServicio === 'Estampado' || tipoServicio === 'Confeccion' || tipoServicio === 'Corte'">{{ servicio.nombre }}</td>
            <td *ngIf="tipoServicio === 'CorteVinillo' || tipoServicio === 'TejidoIndustrial'
            || tipoServicio === 'SublimacionTextil' || tipoServicio === 'Estampado' || tipoServicio === 'Confeccion' || tipoServicio === 'Corte'">{{ servicio.descripcion }}</td>
            <td *ngIf="tipoServicio === 'CorteVinillo' || tipoServicio === 'TejidoIndustrial'">{{ servicio.texto }}</td>
            <td *ngIf="tipoServicio === 'CorteVinillo' || tipoServicio === 'TejidoIndustrial'">{{ servicio.color }}</td>
            <td *ngIf="tipoServicio === 'CorteVinillo'">{{ servicio.tamanio }}</td>
            <td *ngIf="tipoServicio === 'Confeccion' || tipoServicio === 'Corte'">{{ servicio.tipoTela }}</td>
            <td *ngIf="tipoServicio === 'Confeccion' || tipoServicio === 'Corte'">{{ servicio.cantidad }}</td>
            <td *ngIf="tipoServicio === 'Confeccion' || tipoServicio === 'Corte'">{{ servicio.piezaCorte }}</td>
            <td><a href="https://api.whatsapp.com/send?phone=57{{servicio.telefono}}&text='{{servicio.imagen}}'"><img src="../../../../assets/img/whatsappT.png" class="icono-v" alt="icono de wpp"></a></td>
            <td>
              <select [(ngModel)]="servicio.estado" (change)="modificaEstadoConfeccion(servicio._id,servicio.estado)">
                <option value="pendiente" [ngStyle]="{'background-color': 'yellow'}">Pendiente (amarillo)</option>
                <option value="en curso" [ngStyle]="{'background-color': 'blue', 'color': 'white'}">En Curso (azul)</option>
                <option value="cancelado" [ngStyle]="{'background-color': 'red', 'color': 'white'}">Cancelado (rojo)</option>
                <option value="enviado" [ngStyle]="{'background-color': 'green', 'color': 'white'}">Enviado (verde)</option>
              </select>
            </td>
            <td class="text-center">
              <a (click)="abrirModal(i)" data-bs-toggle="modal" [attr.data-bs-target]="'#exampleModal' + i" data-bs-whatever="@mdo" class="btnEditar btn btn-primary">Editar</a>
              <a (click)="EliminarServicio(servicio._id)" class="btnEliminar btn btn-danger" style="margin-left: 7px;">Borrar</a>
            </td>
          </tr>
        </tbody>
      </table>

      <div *ngFor="let registro of registros; let i = index">
        <div class="modal fade" [id]="'exampleModal' + i" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Ingrese los Datos</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <form>
                  <label for="recipient-name" class="col-form-label">Cedula:</label>
                  <input type="text" class="form-control" id="cedula" name="cedula" [(ngModel)]="registroSeleccionado.cedula">
                  <label for="recipient-name" class="col-form-label">Nombre:</label>
                  <input type="text" class="form-control" id="nombre" name="nombre"  [(ngModel)]="registroSeleccionado.nombre">
                  <label for="recipient-name" class="col-form-label">Tipo Servicio:</label>
                  <input type="text" class="form-control" id="tipoServicio" name="tipoServicio" [(ngModel)]="registroSeleccionado.tipoServicio">
                  <label for="recipient-name" class="col-form-label">Estado</label>
                  <input type="text" class="form-control" id="estado" name="estado" [(ngModel)]="registroSeleccionado.estado">
                  <label for="recipient-name" class="col-form-label">Fecha Pedido:</label>
                  <input type="text" class="form-control" id="cedula" name="fechaPedido" [(ngModel)]="registroSeleccionado.fechaPedido">
                </form>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                <button type="button" class="btnG btn btn-light" (click)="guardarCambios(i)" data-bs-dismiss="modal">Guardar</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
