<section class="logo">
    <img class="icon" src="/assets/img/VISOIL.png" height="180px"> 
   </section>
   <section class="Menu">
     <a href="#" class="BT d-block p-3" id="btnInicio"> <img src="/assets/img/home.svg" class="list__img"> Inicio</a>
     <a href="#" class="BT d-block p-3" id="btnRegistro"> <img src="/assets/img/user.svg" class="list__img">
      Registro</a>
     <a href="#" class="BT d-block p-3" id="btnRegistro"> <img src="/assets/img/user.svg" class="list__img">
      Consultar</a>
     <ul class="list">
       <li class="list__item list__item--click">
        

         <ul class="list__show">
           <li class="list__inside">
             <a href="#" class="nav__link nav__link--inside"> Placa</a>
           </li>

           <li class="list__inside">
             <a href="#" class="nav__link nav__link--inside">Marca</a>
           </li>
         </ul>
       </li>
     </ul>

   </section>